<ion-header color="danger">
 
    <ion-item color="danger">
      <span item-end>Mys Points</span>
   </ion-item>
    



    <shrinking-segment-header  [scrollArea]="myContent" headerHeight="10">
 
    </shrinking-segment-header>

    <ion-toolbar color="danger" mode="md">

      <ion-segment color="light" mode="md" [(ngModel)]="section">
        <ion-segment-button value="one">
          <img color="blanco" style="height: 30px;width: 30px;" src="/assets/imgs/pointblue.svg">

        </ion-segment-button>
        <ion-segment-button value="two">
          <img color="blanco" style="height: 30px;width: 30px;" src="/assets/imgs/pointblue.svg">
        </ion-segment-button>
        <ion-segment-button value="three">
          <img color="blanco" style="height: 30px;width: 30px;" src="/assets/imgs/pointblue.svg">
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>

</ion-header>

<ion-content fullscreen #myContent>

    <div [ngSwitch]="section">

      <ion-list *ngSwitchCase="'one'">

<!-- empieza vista del derecha -->

<ion-card>
    <ion-card-content>

<ion-grid>
<ion-row align-items-start>
        <ion-col col-4>
        </ion-col>
        <ion-col col-4>
          <img src="/assets/imgs/points-cyrus.png" style="height: 100px;width: 100px;" />
        </ion-col>
        <ion-col col-4>
        {{ points }}
        </ion-col>


</ion-row>

<!-- seccion de abajo - media-->


 
<ion-row align-items-center>

</ion-row>
<ion-row align-items-center>
<br>  
</ion-row>
<ion-row align-items-center>
<br>   
</ion-row>
<ion-row align-items-center>
<br>  
</ion-row>
<ion-row align-items-center>
<br>
</ion-row> 
<ion-row align-items-center>
<br>
</ion-row> 
<ion-row align-items-center>
<br>
</ion-row>       


<ion-row align-items-end>
  
  
            <ion-col align-self-start>
                Redeemed
                <img src="/assets/imgs/redeemed.png"  style="height: 50px;width: 50px;" />
                <h6>122</h6>
              </ion-col>

            
            <ion-col align-self-center>

            </ion-col>

            <ion-col align-self-end>
             Historic
             <img src="/assets/imgs/historic.png"  style="height: 50px;width: 50px;" />
             <h6>128</h6>
            </ion-col>
  
  
</ion-row>
</ion-grid>

      </ion-card-content>
    </ion-card>   
<!-- termina seccion de abajo -nmedia"  -->

<!-- termina abajo del derecha  -->


      </ion-list>
<!-- inicia la vista del medio -->
      <ion-list *ngSwitchCase="'two'">



<!-- empieza vista del medio -->

<ion-card>
    <ion-card-content>

<ion-grid>
<ion-row align-items-start>
        <ion-col col-4></ion-col>
        <ion-col col-4>
          <img src="/assets/imgs/cyrus-gold.png" style="height: 100px;width: 100px;" />
        </ion-col>
        <ion-col col-4 text-color="danger">Not Info</ion-col>


</ion-row>

<!-- seccion de abajo - media-->


 
<ion-row align-items-center>

</ion-row>
<ion-row align-items-center>
<br>  
</ion-row>
<ion-row align-items-center>
<br>   
</ion-row>
<ion-row align-items-center>
<br>  
</ion-row>
<ion-row align-items-center>
<br>
</ion-row> 
<ion-row align-items-center>
<br>
</ion-row> 
<ion-row align-items-center>
<br>
</ion-row>       


<ion-row align-items-end>
  
  
            <ion-col align-self-start>
                Redeemed
                <img src="/assets/imgs/redeemed.png"  style="height: 50px;width: 50px;" />
                <h6>122</h6>
              </ion-col>

            
            <ion-col align-self-center>

            </ion-col>

            <ion-col align-self-end>
             Historic
             <img src="/assets/imgs/historic.png"  style="height: 50px;width: 50px;" />
             <h6>128</h6>
            </ion-col>
  
  
</ion-row>
</ion-grid>

      </ion-card-content>
    </ion-card>   





      </ion-list>
<!-- termina la vista del medio -->





      <!-- inicia vista derecha  -->
      <ion-list *ngSwitchCase="'three'">

 
       <ion-grid>
          <ion-row>
              <ion-col col-4>
                  <img src="/assets/imgs/points-cyrus.png"  style="height: 65px;width: 65px;" />
              </ion-col>

                  <!-- <ion-item *ngFor="let point of points" >                   -->
             <ion-col col-4>
                  Total Points: {{ points }}
             </ion-col>
                  <!-- </ion-item>                   -->
          </ion-row>
 


          <ion-row>    
              <ion-col >   
                <h2>By:</h2>
                <ion-item *ngFor="let historiale of historiales" class="back-gris">  
                <h6 class="ion-text-center" > {{this.historiale.actionconsult}} </h6>
                </ion-item>
             </ion-col>
              <ion-col >
                 <h2>Earned</h2>
                 <ion-item *ngFor="let historiale of historiales" class="back-gris">  
                  <h6 class="ion-text-center" > {{this.historiale.total_win_points}} </h6>
                  </ion-item>
             </ion-col>

              <ion-col >
                  <h2>Consumed</h2>
                      <ion-item *ngFor="let historiale of historiales" class="back-gris">  
                       <h6 class="ion-text-center" > {{this.historiale.total_consumed_points}} </h6>
                       </ion-item>
              </ion-col>

               <ion-col >
                      <h2>Total</h2>
                       <ion-item *ngFor="let historiale of historiales" class="back-gris">  
                      <h6 class="ion-text-center" > {{this.historiale.total_win_pointsandconsumed}} </h6>
                     </ion-item>
              </ion-col>                
          </ion-row>
       </ion-grid>     

      </ion-list>
      <!-- termina vista derecha -->

    </div>
</ion-content>

<!-- CONTENEDOR FINALIZA -->




<ion-footer>

 


      
    <ion-buttons text-center end>

              <button ion-button icon-only color="dark" (click)="Profile()">
                <ion-icon name="home"></ion-icon>
              </button>

      

              <button ion-button icon-only color="dark" (click)="List()">
                <ion-icon name="person"></ion-icon>
              </button>

      

              <button ion-button icon-only color="dark" (click)="Search()">
                <ion-icon name="search"></ion-icon>
              </button>

      

              <button ion-button icon-only color="dark" (click)="Favorites()">
                <ion-icon name="star"></ion-icon>
              </button>

      

              <button ion-button menuToggle="leftMenu" icon-only color="dark">
                <ion-icon name="menu"></ion-icon>
              </button>

      </ion-buttons>

</ion-footer>
