page-eventwinbydownload {



  .getstart {

    background-image: url('/assets/imgs/fondo2.jpg');
    // background: url('../../img/getstart.png');
    background-repeat: no-repeat;
    background-size:cover;
   }


   .partestransparentes{
    background-color: rgba(221, 219, 219, 0.153)!important;
    // opacity: 0.5;
  }
  
  
  .notantransparente{
    background-color: rgba(221, 219, 219, 0.153)!important;
    // opacity: 0.5;
  }



}

.btn-danger{
    background:red;
    width: 92%;
    height: 7%;
    position: left;
    left: 4%;
    border-radius: 7px;
  }
